name: Deploy static site to Azure Web App - PortfolioAyoub

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9A3723B76E424D72B092FF198722CC22 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4D2009F7E88C4E84BB8085CA312D7A1C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4B5AA6CA5B6948BC8E9DDD8D8CD62FFB }}

      - name: Deploy static content to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'PortfolioAyoub'
          slot-name: 'Production'
          package: .
